* {
  font-family: sahel;
}

@font-face {
  font-family: "sahel";
  src: url("./Components/fonts/Sahel.eot") format("eot"),
    url("./Components/fonts/Sahel.ttf") format("truetype"),
    url("./Components/fonts/Sahel.woff") format("woff");
}
